

<div class="parallax-docs">
    <div class="parallax-text"> 
        <div class="title">Discovery</div> 
        <div class="info">
            <p>
                Did you just get onboard and are unfamiliar with the concepts and terminology related to resources (or The Store in general)? 
            </p>
            <p> Check out our <a href="">glossary</a> and the <a href="">resources section of the documentation</a> </p>
            <button  class="btn btn-info"> Check out glossary ...</button>  <br>
            <button  class="btn btn-info"> Check out docs ...</button> 
        </div>
    </div>
</div>


<div class="parallax-catalog">
    <div class="parallax-text"> 
        <div class="title">CATALOG</div> 
        <div class="info">
            <p>
                The catalog is where all the resources are gathered. You can contribute your own resources or browse the catalog (search & filter), to find a resource designed for you use-case.
            </p>
            <p>Hopefully you find you happiness.</p>
            <a routerLink="/store/catalog"><button  class="btn btn-info"> Visit the catalog ...</button> </a>
        </div>
    </div>
</div>


<div class="parallax-two">
    <div class="parallax-text"> 
        <div class="title">CONTRIBUTE</div> 
        <div class="info">
            <p>
                You have a resource you wish to publish on the platform? This is where you need to head to and follow the instructions.
            </p>
            <a routerLink="/store/create"><button  class="btn btn-info"> Create a resource ...</button></a>
        </div>
    </div>
</div>

