<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    
  </head>
  <body>
    <% include partials/header %>
    
    <div class="container">
      <h1><%= title %></h1>
    </div>
    
    <% include partials/footer.ejs %>
  </body>
</html>
