<% var content = `
	
		<h3>Delete account </h3>
		<h4> Procedure </h4>
		<p>
			To delete your account these are the steps to follow :
			<ul>
				<li> First of all <a href="/signin">login to Algofab</a> </li>
				<li> Then head to your  <a href="/user/account">account management page</a> </li>
				<li> Next, click on the [radio button] "Edit profile", then look for the button "Remove Account" </li>
				<li> After you click on the "Remove Account" button and accept the confirmation, your account will deleted</li>
			</ul>
		</p>
		<h4> What happens to my Data (resources) when the account is deleted</h4>
		<p>
			As of now, whenever an account is deleted, all of the resources depending on it are also deleted. This way of proceeding may change in the future to allow more flexibility given the context allows for it.
		</p>

		<h3> See also ...</h3>
		<ul>
			<li> <a href="#">How to recover lost password or username? </a></li>
			<li> <a href="#">How to remove account? </a></li>
		</ul>
	`
%>

<% include ../base %>