<% var content = `
	
		<h3>Edit account </h3>
		<p>
			To edit your account these are the steps to follow :
			<ul>
				<li> First of all <a href="/signin">login to Algofab</a> </li>
				<li> Then head to your  <a href="/user/account">account management page</a> </li>
				<li> Next, click on the [radio button] "Edit profile", then look for the form allowing you to update some account information</li>
				<li> After submitting that form, you should see you account information updated.</li>
			</ul>
		</p>
		
		<h3> See also ...</h3>
		<ul>
			<li> <a href="#">How to recover lost password or username? </a></li>
			<li> <a href="#">How to remove account? </a></li>
		</ul>
	`
%>

<% include ../base %>