body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*.modal-backdrop { display: none; }*/
/*
.modal {
    width: 800px; 
}
*/

a {
  color: #00B7FF;
}

.navbar li {
	font-size: 1.3em;
	
	/*display: table-cell;
	vertical-align: middle;*/
}

#social_footer ul {
	list-style: none;
}

#social_footer ul li {
	display: inline-block;
	/*padding-left: 25px;*/
	font-size: 2em
}

#new_upload_form {
	margin: 2em;
	border-style: dotted;
	border-radius: 5px;
}


.algo-title {
	height: 3.5em;
	margin-top : 1em;
	margin-bottom: 0.5em;
	padding : 0.5em;
	background-color : #ffe6e6;
	border-radius : 10px 10px 0px 0px;
	font-size : 2em;
	text-decoration : bold;
	text-align : center;
	display : flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 5px 5px 10px grey;
}

.algo-logo {
	height : 10em;
	/*padding : 0.7em;*/
	border:1px blue solid;
	border-radius : 0px 0px 10px 10px;
	cursor : pointer;
	font-size : 1.5em;
	display : flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 5px 5px 10px grey;
}

.algo-description {
	z-index : 10000;
    color : white;
    background-color : black;
    /*border : 20px yellow dashed;*/
    max-width : 50em;
    border-radius : 5px;
    padding : 2em;
}

.algo-version-option-health {
	color: blue;
	margin-left: 2em;
	cursor : pointer;
}

.algo-version-option-edit {
	color: indigo;
	margin-left: 2em;
	cursor : pointer;
}

.algo-version-option-hide {
	color: green;
	margin-left: 2em;
	cursor : pointer;
}

.algo-version-option-share {
	/*color: 	#006400;*/
	margin-left: 2em;
	cursor : pointer;
}
.algo-version-option-remove {
	color: red;
	margin-left: 2em;
	cursor : pointer;
}

.ligh-grey-bg {
	background-color: #d3d3d3;
}

.validation-err {
	font-size: 2em;
	text-align: center;

}

.article-name {
	display: inline-block;
}

.article-container section {
	background-color: rgb(245,245,245);
	margin-bottom : 2em;
	padding : 1em;
	/*"border" : "5px grey dashed";*/
	border-radius : 5px
}

.algo-list-item .article-name {
	height: 3.5em;
	margin-top : 1em;
	margin-bottom: 0.5em;
	padding : 0.5em;
	background-color : #ffe6e6;
	border-radius : 10px 10px 0px 0px;
	font-size : 2em;
	text-decoration : bold;
	text-align : center;
	display : flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 5px 5px 10px grey;
}

.algo-list-item .article-logo {
	height : 10em;
	/*padding : 0.7em;*/
	border:1px blue solid;
	border-radius : 0px 0px 10px 10px;
	cursor : pointer;
	font-size : 1.5em;
	display : flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 5px 5px 10px grey;
}

.algo-list-item .article-info {
	z-index : 10000;
    color : white;
    background-color : black;
    /*border : 20px yellow dashed;*/
    max-width : 50em;
    border-radius : 5px;
    padding : 2em;
}

a > .algo-list-item {
	color: black;
}

.fa.checked {
  color: orange;
}

.article-container hr{
	border: 1px solid black;
}

.review-item {
	margin-bottom: 2em;
}

.review-heading {	
	background-color: #335cd6;
	text-align: center;
	padding: 1em;
	color: white;
	border-radius: 0.5em 0 0 0.5em;
	height: 10em;
	vertical-align: middle;
	
}
.review-content {
	border-radius: 0 2em 2em 0;
	border: 1px solid black;
	height: 10em;
	padding: 1em;
}

.my-spinner {
	display: inline-block;
	margin-left: 1em;
	border: 0.5em solid #f3f3f3;
	border-radius: 50%;
	border-top: 0.5em solid #3498db;
	width: 3em;
	height: 3em;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.docs-menu ul {
	list-style-type: none;
	margin: 0;
}

/*.docs-menu-item {

	list-style: none;
	border-left: 2px blue solid; 
	margin-bottom: 0.5em;
	font-size: 1.5em;
	text-align: left;
	
}
*/
.docs-menu-item .docs-menu-item {
	font-size: 0.8em
}

.docs-menu-item a{
	color: black;
}

.docs-menu  {
	background: #b9bed0;
	
	padding: 0.4em;
	border-radius: 5px;
	/*position: absolute; */
}


.my-docs {
	background: rgba(175, 175, 175, 0.2);
	border-radius: 5px;
	margin-bottom: 2em;
}

.my-docs:first-child {
	font-size: 2em;
}

.my-docs-menu {
	list-style-type: none;
	list-style-position: outside;
	margin-left: 0;
	padding-left: 0.5em;
	border-left: 1px rgba(0,0,0,0.5) solid;
	border-radius: 3px;
	
}

.my-docs-menu .my-docs-menu {
	font-size: max(0.8em, 16px);
}

.my-docs-menu-item {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.my-docs-menu-item, .my-docs-menu-item a{
	color: black;
}

.my-docs-menu-item.active, .my-docs-menu-item.active a {
	color: white;
	background: blue;
	padding-left: 2px;
	border-radius: 3px;
}



