
<% 
	my_alert = function(str){
		return `<script type="text/javascript"> alert("${str}") </script>`
	} 

	generateMenu = function(menuData){
		var r = '<ul>';
		for(var i=0; i < menuData.length; i++){
			r += `<li class="docs-menu-item"> <a href="/docs?id=${menuData[i].id}">${menuData[i].name}</a> `;
			if ("sub" in menuData[i] ){
				r += generateMenu(menuData[i].sub)
			}
			r += '</li>';
		}
		r += '</ul>';
		return r;
	} 
    
%>