		

		<script type="text/javascript">
    		$(function(){
    			function strIsHtml(s){
    				//
    				try {
	    				return $(s);
	    			}
	    			catch(e) {
	    				return false;
	    			}
    			}

    			$('#side-nav').css({
    				"background-color" : "#D3D3D3",
    				"border-radius" : "5px"
    			});
    			$('#current-content').css({

    			});
    			$('#side-nav-title').css({
    				"text-align" : "center",
    				"font-size" : "1.5em",
    				"border" : "1px solid black",
    				"border-radius" : "5px 5px 0px 0px",
    				"padding" : "1em",
    				"background-color" : "#383838",
    				"color" : "white"
    			});
    			$('#side-nav li').css({
    				"margin-bottom" : "0.5em"
    			});
    			$('#side-nav ul').css({
    				"list-style-type" : "none",
    				"margin" : "0",
    				"padding-left" : "0",
    				"padding-right" : "0",
    				"padding-top" : "1em",
    				"padding-bottom" : "1em",
    			});

    			$('#side-nav ul ul').css({
    				"margin-left" : "1em"
    			});

    			$('#side-nav ul li a:link').css({"color" : "black"});
    			$('#side-nav ul li a:visited').css({"color" : "#669999"});
    			$('#side-nav ul li a:hover').css({"color" : "green"});


    			$('#change-nav div').css("margin-top" , "1em");
    			$('#change-nav div button span').css("vertical-align" , "middle");
    			$('.a-span').css({
    				"font-weight" : "bold",
    				"font-size" : "2em"
    			});
    			/*
    			$("#hello-shell-code").html(
    				'<pre>'+'\n'+
    				'	#!/bin/bash '+'\n'+
					'	for i in "$@" '+'\n'+
					'	do '+'\n'+
					'		case $i in '+'\n'+
					'			-f=*|--firstname=*) '+'\n'+
					'			FIRSTNAME="${i#*=}" '+'\n'+
					'			shift # past argument=value '+'\n'+
					'			;; '+'\n'+
					'			-l=*|--lastname=*) '+'\n'+
					'			LASTNAME="${i#*=}" '+'\n'+
					'			shift # past argument=value '+'\n'+
					'			;; '+'\n'+
					'			-t=*|--daytime=*) '+'\n'+
					'			DAYTIME="${i#*=}" '+'\n'+
					'			shift # past argument=value '+'\n'+
					'			;; '+'\n'+
					'			*) '+'\n'+
					'			# unknown option '+'\n'+
					'			;; '+'\n'+
					'		esac '+'\n'+
					'	done '+'\n'+
					'	if [ "$FIRSTNAME" == "" ] && [ "$LASTNAME" == "" ]; then '+'\n'+
					'		echo "Error : At least one name required" '+'\n'+
					'	elif [ "$DAYTIME" != "" ]; then '+'\n'+
					'		#echo "daytime : $DAYTIME" '+'\n'+
					'		SHOW="Good $DAYTIME" '+'\n'+
					'		if [ "$FIRSTNAME" == "" ]; then '+'\n'+
					'			SHOW="$SHOW $LASTNAME." '+'\n'+
					'		elif [ "$LASTNAME" == "" ]; then '+'\n'+
					'			SHOW="$SHOW $FIRSTNAME." '+'\n'+
					'		else '+'\n'+
					'			SHOW="$SHOW $FIRSTNAME $LASTNAME." '+'\n'+
					'		fi '+'\n'+
					'		echo $SHOW '+'\n'+
					'	else '+'\n'+
					'		SHOW="Hello" '+'\n'+
					'		if [ "$FIRSTNAME" == "" ]; then '+'\n'+
					'			SHOW="$SHOW $LASTNAME." '+'\n'+
					'		elif [ "$LASTNAME" == "" ]; then '+'\n'+
					'			SHOW="$SHOW $FIRSTNAME." '+'\n'+
					'		else '+'\n'+
					'			SHOW="$SHOW $FIRSTNAME $LASTNAME." '+'\n'+
					'		fi '+'\n'+
					'		echo $SHOW '+'\n'+
					'	fi '+'\n'+
    				'</pre>'
    			);
    			
    			$("#hello-docker-code").html(
    				'<pre>'+'\n'+
    				'	# Base image from which we construct our own '+'\n'+
					'	FROM ubuntu:16.04 '+'\n\n'+
					'	# Update the image and install the tools we need '+'\n'+
					'	RUN apt-get update -y && apt-get install -y nodejs-legacy npm curl nano '+'\n\n'+
					'	# Create folder for our app '+'\n'+
					'	RUN mkdir /Hello-World '+'\n\n'+
					'	# Upload our code into the image '+'\n'+
					'	COPY ./Hello-World/  /Hello-World '+'\n\n'+
					'	# Change the current working directory '+'\n'+
					'	WORKDIR /Hello-World '+'\n\n'+
					'	# Command executed each time a container created from this image is started '+'\n'+
					'	CMD npm start '+'\n'+
    				'</pre>'
    			);
    			*/
    			$('.open-close-content').html(function(toggleable){
    				//
                    if (typeof toggleable === 'undefined')
                        toggleable = true;
    				$(this).wrap('<pre></pre>');
    				var content = $(this).html(), lines = content.split('\n');
    				var indent_min = Infinity;
    				console.log( $(this).attr('id') +' : '+content);
    				var h = strIsHtml(content);
    				console.log("H : "+h);
    				if(h != false && h.prop('tagName') == "UL"){
    					//
    					for(var i=0; i < lines.length; i++)
       						lines[i] = lines[i].replace(new RegExp('^\t*'), '');
       					content = lines.join('\n');
    				}
    				else{
	    				for(var i=0; i < lines.length; i++){

	    					var splitted = lines[i].split(/^\t*/);
	    					//console.log('Line : 'i, "splitted"+indent_min);
	       					if(splitted.length == 0 ){
	       						console.log("Line : "+i+', continue, splitted : '+splitted);
	    						continue;
	       					}
	    					if (indent_min > (lines[i].length-splitted[1].length)){
	    						indent_min = lines[i].length-splitted[1].length+1;
	    					
		    					console.log( $(this).attr('id')+' : indent_min : '+indent_min+', line : '+i);
		       				}
	       				}
	       				if (indent_min != Infinity && indent_min > 0){
	       					for(var i=0; i < lines.length; i++)
	       						lines[i] = lines[i].replace(new RegExp('^\t{'+(indent_min)+'}'), '');
	       					content = lines.join('\n');
	       				}
	       				console.log('\n\n');
	       			}


    				content = $('<div>'+content+'</div>');
                    if($(this).hasClass("do-not-hide"))
                        return content;
    				content.hide();
    				var toggle = $('<span>Toggle content <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>');
    				
    				toggle.click(function(){
    					content.toggle();
    					toggle.html(function(){
    						if(/chevron-down/.test(toggle.html()))
    							return '<span>Toggle content <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>';
    						else
    							return '<span>Toggle content <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>'
    					});
    				});
    				toggle.css({
    					"color" : "red",
    					"text-decoration" : "underline",
    					"cursor" : "pointer"
    				});
    				var new_content = $('<div></div>');
    				new_content.append(toggle);
					new_content.append(content);
					
    				return new_content;
    			});
    			$('.api-table th, .api-table td').css({
    				"text-align" : "center",
    				"vertical-align" : "middle"
    			});
                $('p').css({
//                    "margin-top" : "2em",
                    "margin-bottom" : "2em"
                });
    		});
    	</script>