


/*.custom-nav .icon {
	position: absolute;
	display: none;
	float: right;
	top: 1em;
	right: 2em;
	font-size: 2em;
	padding: 0.2em;
	border: 1px black solid;
	border-radius: 5px;
	text-decoration: bold; 
}*/


.main-content section {
	padding: 1em;
}
