
<div class="res-container">
	<div class="res-intro">
		[Intro]
	</div>

	<div class="res-side">
		<div class="res-catalog">
			<p>
				The Catalog is where you can browse through all the resources available on the platform. 
			</p>
			<p>
				You can search and filter the resources according to your need, hopefully there is something suited for yours!
			</p>
			<a routerLink="/resources/list"><button class="btn btn-primary">Take a look</button></a>
		</div>
		<div class="res-new">
			<p>
				[New 1]
			</p>
			<a routerLink="/resources/new"><button class="btn btn-primary">Take a look</button></a>
		</div>
		<div class="res-docs">
			<p>
				[New 1]
			</p>
			<a routerLink="#"><button class="btn btn-primary">Take a look</button></a>
		</div>
	</div>
</div>