<div class="container">
	<div class="row">
		<div class="col-md-8 resources-intro-container">
			[Intro]
		</div>
		
		<div class="offset-md-1 col-md">
			<div class="row resources-catalog-container">
				<p>
					The Catalog is where you can browse through all the resources available on the platform. 
				</p>
				<p>
					You can search and filter the resources according to your need, hopefully there is something suited for yours!
				</p>
				<a routerLink="/resources/list"><button class="btn btn-primary">Take a look</button></a>
			</div>
			<div class="row resources-docs-container">
				[Docs]
			</div>
		</div>
		
	</div>
</div>