
<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    
  </head>
  <body>
    <% include partials/header %>
    
    <div class="container">
        <% if(title == 'Sign In') { %>
            <div class="col-sm-offset-3 col-sm-6">
                <form method="post" class="row">
                    
                    <h2>Sign in</h2>
                    <% if(typeof err !== 'undefined') { %>
                        <div class="alert alert-danger" role="alert"> <%= err %> </div>
                    <% } %>

                    <div class="form-group row">
                        <label for="username" class="col-sm-3 col-form-label col-form-label-lg">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-lg" name="username" id="username"  required/>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label for="pass" class="col-sm-3 col-form-label col-form-label-lg">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control form-control-lg" name="password" id="pass" required>
                            </div>
                    </div>
                    <div class="form-group row col-sm-2 pull-right" >
                        <button type="submit" class="btn btn-primary pull-right"> <%= title %> </button>
                    </div>
                </form>
                    <!--
                    <br/>
                    <br/>
                    <br/>
                    -->
                <div class="row">
                    
                    <span class="col-sm-4 pull-right"><a href="/resetpassword" class="pull-right"> Forgot Password? </a> </span>
                    <span class="col-sm-4 pull-right"><a href="#" class="pull-right"> Forgot Username? </a> </span>
                    
                </div>
            </div>    
        <% } else if (title == 'Sign Up') { %>
            <div class="col-sm-offset-3 col-sm-6">
                <form method="post" class="row">
                    
                    <h2>Sign Up</h2>
                    <% if( typeof err !== 'undefined' && err == "success" ) { %>
                        <div class="alert alert-success" role="alert"> 
                            You successfully signed up. Cheick your emails for your first connection.
                        </div>
                    <% } else if (typeof err !== 'undefined') { %>
                        <div class="alert alert-danger" role="alert"> <%= err %> </div>
                    <% } %>

                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label col-form-label-lg">Email address</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control form-control-lg" name="email" id="email" required/>
                            </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-3 col-form-label col-form-label-lg">Username <span title="Validation regex : [a-z0-9]([-a-z0-9]*[a-z0-9])?" style="background: cyan; border-radius: 1em"> ? </span></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control form-control-lg" name="username" id="username" pattern="[a-z0-9]([-a-z0-9]*[a-z0-9])?" placeholder="Lowercase alphanumeric. Regex : [a-z0-9]([-a-z0-9]*[a-z0-9])?" required/>
                            </div>
                    </div>
                    <div class="form-group row col-sm-2 pull-right">
                        <button type="submit" class="btn btn-primary pull-right"> <%= title %> </button>
                    </div>
                </form>
            </div>
        <% } %>
    </div>
    <% include partials/footer.ejs %>
  </body>
</html>
