<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    
  </head>
  <body>
    <% include partials/header %>
    
    <div class="container">
      <h1>Welcome to AlgoFab.fr</h1>
    </div>
    <div class="container">
      <div id="banner"></div>
    </div>

    <div class="container">
      <div id="list" width="200" height="200"></div>
    </div>
    
    <% include partials/footer.ejs %>
    <script type="text/javascript">
      $(function(){
        var somediapo = new Diapo('banner', ['/img/test.jpeg', '/img/test1.jpeg', '/img/test2.jpeg', '/img/test3.jpeg'], {
          items : 1,
          loop : true,
          center : true,
          nav : true,
          navText : ['<button class="pull-left btn btn-primary" style="margin-top : 5px;">Précédent</button>', '<button class="pull-right btn btn-primary" style="margin-top : 5px;">Suivant</button>'],
          dotsContainer: '#banner_controls',
          autoplay : true,
          autoplayTimeout : 5000,
          responsive : {
            0 : {
              autoHeight : true
            }
          },
        });
        
      });
    </script>
    <script type="text/javascript">
      $(function(){
        var somelist = new ListAlgo('list', {
          loop : false,
          center : true,
          nav : false,
          autoplay : false,
          responsive : {
            0 : {items:2},
            600 : {items:3},
            1000 : {items:4}
          }
        });
        somelist.addItem('/img/test.jpeg', 'Title 1', 'Desc 1');
        somelist.addItem('/img/test1.jpeg', 'Title 2', 'De<b>sc</b> 2');
        somelist.addItem('/img/test2.jpeg', 'Title 3', 'Desc 3');
        somelist.addItem('/img/test3.jpeg', 'Title 4', 'Desc 4');
        somelist.addItem('/img/test.jpeg', 'Title 5', 'Desc 5');
        somelist.addItem('/img/test1.jpeg', 'Title 6', 'Desc 6');
        somelist.addItem('/img/test2.jpeg', 'Title 7', 'Desc 7');
        somelist.addItem('/img/test3.jpeg', 'Title 8', 'Desc 8');
        somelist.addItem('/img/test.jpeg', 'Title 9', 'Desc 9');
        somelist.addItem('/img/test1.jpeg', 'Title 10', 'Desc 10');
        somelist.addItem('/img/test2.jpeg', 'Title 11', 'Desc 11');
        somelist.addItem('/img/test3.jpeg', 'Title 12', 'Desc 12');
        
      });
    </script>
  </body>
</html>
