
  
<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>

    </head>
    <body>
        <% include partials/header %>


        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    
                    <ul>
                        <li>
                            <a href="/docs/getting-started"> Getting started </a>
                        </li>
                        <li>
                        	<a href="/docs/platform"> Platform </a>
                        </li>
                        <!--
                        <li>
                            <a href="#"> Tutorials </a>
                        </li>
                        -->
                        <li>
                            <a href="/docs/json-manifest"> Manifest JSON </a>
                        </li>
                        <li>
                            <a href="/docs/execution-mode"> Execution mode </a>
                        </li>
                        <!--
                        <li>
                            <a href="#"> Navigate on the portal </a>
                        </li>
                        <li>
                        	<a href="#"> Glossary </a>
                        </li>
                        -->
                    </ul>
                    <br/>
                </div>
                
            </div>

        </div>




        <% include partials/footer %>
    </body>
</html>
