

$list-item-height: 5em;
$list-container-width: 96vw;


// $gallery-item-width-height-ratio: 1;

// $gallery-item-min-width: 150px;
// $gallery-item-max-width: 300px;
// $gallery-item-width: 25vw;


// $gallery-item-min-height: $gallery-item-min-width * $gallery-item-width-height-ratio;
// $gallery-item-max-height: $gallery-item-max-width * $gallery-item-width-height-ratio;
// $gallery-item-height: $gallery-item-width * $gallery-item-width-height-ratio;

$gallery-item-width: 250px;
$gallery-item-height: 250px;

[hidden] {
    display: none !important;
}

[bg-img] {
    background-position: center;
    background-color: white;
    //border: 5px red dotted;
    background-size: cover;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-container{
    display: flex;
    flex-direction: column;
    width: $list-container-width;
    //border: 1px black solid;
    margin: auto;

    .list-options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: $list-container-width;
        border: 2px green solid;
        border-radius: 5px;
        margin-bottom: 2em;
        margin-top: 2em;

        button {
            width: 10vw;
            margin-left: 1em;    
        }

        .list-style-selector {
            width: 40vw;
            height: 3em;
            //border: 1px green solid;
            border-radius: 5px;
            
            display: flex;
            align-items: center;
            text-align: right;
            
            
            
            i {
                font-size: 2em;
                margin-left: 1em;
                text-align: right;
                cursor: pointer;
                
                &:first-child {
                    margin-left: auto;
                }

                &:last-child {
                    margin-right: 1em;
                }
                
            }

            i.selected {
                color: green;
                //transform: scale(1.5);
            }
        }
    }

    .list-style{
        width: $list-container-width;

        .list-item {
            @include flexCenter();
            width: $list-container-width;
            height: $list-item-height;
            flex-direction: row;
            border: 1px black solid ;
            border-radius: 5px; 
            justify-content: space-between;
            margin-bottom: 1em;

            &:hover {
                transform: scale(1.05);
            }

            &:nth-child(odd) {
                background-color: rgba(0,0,128,.3);
                color: white;
            }
             
            // .logo-container {
            //     @include flexCenter();
            //     border: 5px black solid ;
            //     img {
            //         width: 3em;
            //         height: $list-item-height - 1em;
            //     }
            // }

            .icon-container {
                @include flexCenter();
                //position: absolute;
                min-width: 5em;

                img {
                    width: 3em;
                    height: $list-item-height - 1em;
                }
            }

            .introduction-container{
                @include flexCenter();
            }

            .redirect-container {
                @include flexCenter();
                min-width: 10em;
            }
        }
        
    }

    .gallery-style {
        display: flex;
        flex-direction: row;
        //align-items: center;
        justify-content: space-evenly;
        flex-wrap:  wrap;
        //border: 5px solid yellow;

        .gallery-item{
            width: $gallery-item-width;
            // min-width: $gallery-item-min-width;
            // max-width: $gallery-item-max-width;
            
            height: $gallery-item-height;
            // min-height: $gallery-item-min-height;
            // max-height: $gallery-item-max-height;
            position: relative;
            margin: 2em;
            
            &:hover {
                transform: scale(1.05);
            }

            .item-header {
                display: flex;
                position: absolute;
                align-items: center;
                margin-left: 1em;
                margin-top: 1em;
                border: 1px solid blue;
                border-radius: 0.5em 0 0.5em 0;
                background-image: linear-gradient(350deg, #00b8de 5%, rgba(250,250,250,1) 90%);
                box-shadow: 5px 5px 5px grey;
                width: $gallery-item-width;
                // min-width: $gallery-item-min-width;
                height: $gallery-item-height * 0.2; // 20 % to total height
                // min-height: $gallery-item-min-height  * 0.2; // 20 % to total height
                z-index: 2;
                
                .item-name{
                    width: $gallery-item-width * 0.7;
			        // min-width: $gallery-item-min-width * 0.7;
			        padding: 1em
                }

                .item-icon{
                    width: $gallery-item-width * 0.3;
                    // min-width: $gallery-item-min-width * 0.3;
                    height: $gallery-item-height * 0.3;
                    // min-height: $gallery-item-min-height * 0.2;
                }
            }
            
            .item-content{
                width: $gallery-item-width;
                // min-width: $gallery-item-min-width;
                height: $gallery-item-height * 0.8;
                // min-height: $gallery-item-min-height * 0.8;
                padding-top: 2em;
                bottom: 0;
                color : white;
                border-radius: 0.5em;
                position : absolute;
                background-image: linear-gradient(350deg, rgba(10,10,10,1) 5%, rgba(0,0,128,1) 90%);
                border: 1px solid orange;
                box-shadow: 5px 5px 5px grey;
                z-index: 1;
                @include flexCenter();
                
                .item-redirect{
                    position: absolute; 
			        bottom: 5px; 
			        right: 5px;
                }
            }
        }
    }
}