
$banner-img: '/assets/img/banner_bg.jpg';

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    @include flexCenter();

    width: 100vw;
    height: 90vh;
    background-image: url($banner-img);
	
	.banner-content{
		width: 50%;
		//border: 1px solid green;
		text-align: center;
		color: white;
	}
}

@mixin parallax($bg-img){

    width: 100vw;
    height: 70vh;

    background-attachment: fixed;
    background-image: url($bg-img);
    background-size: cover;

    @include flexCenter();

    .parallax-text {
        width: 50%;
        font-size: 4em;
        text-align: center;
    }
}

.parallax-one {
    @include parallax('/assets/img/algofab_white_bg.PNG')
}

.parallax-two {
    @include parallax('/assets/img/algofab.PNG')
}