<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <!--
    <script type="text/javascript">
      $(function(){
        $( document ).tooltip({
          "items" : ".algo",
          "content" :  function(){
            return "abcdef";
          }
        });
      });
      
    </script>
    -->
  </head>
  <body>

    <% include partials/header %>
    
    <div class="container">
    	<% include utils/list2 %>
    </div> 


    <% include partials/footer.ejs %>
    <script type="text/javascript">
      $(function(){
        $('.t-tip').hide();
        $('.apparent #link_to_page').hide();
        $('.versions').hide();

        //$('.algos .algo .versions, .visit-algo-page').hide();
        $('.apparent hr').css({ 
            "display": "block",
            "margin-top": "0.5em",
            "margin-bottom": "0.5em",
            "margin-left": "auto",
            "margin-right": "auto",
            "border-style": "inset",
            "border-width": "1px"
        });
        
        $('.algos .algo .description').css({
          //"margin" : "1em",
          "height" : "10em",
          "padding" : "0.7em",
          "border":"1px blue solid",
          "border-radius" : "0px 0px 10px 10px",
          "cursor" : "pointer"
        });
        $('.algos .algo .description').click(function(){
          var win = window.open($(this).siblings('#link_to_page').text(), '_blank');
          win.focus();
        });


        $('.apparent .title').css({
          "margin-top" : "1em",
          "padding" : "0.5em",
          "background-color" : "#ffe6e6",
          "border-radius" : "10px 10px 0px 0px"
        });
        
        

        $('.algos .algo .title').css({
          "font-size" : "2em",
          "text-decoration" : "bold",
          "text-align" : "center"
        });
        
        $('.algos .algo .description').css({
          "font-size" : "1.5em"
        });
        
        /*
        $('.algos .algo').css({
          "margin-top" : "1em",
          "border":"1px blue solid",
          "border-radius" : "55px"
        });*/
        $('.content-to-middle').css("maring", "auto");
        $('.algos .algo:nth-child(even) .description').css({
          //"margin-top" : "1em",
          //"border-radius" : "5px",
          "background" : "#FFF",
          "cursor" : "pointer",
          "display" : "flex",
          "flex-direction": "column",
          "justify-content": "center"
        });
        $('.algos .algo:nth-child(odd) .description').css({
          //"margin-top" : "1em",
          //"border-radius" : "5px",
          "background" : "#CCC",
          "cursor" : "pointer",
          "display" : "flex",
          "flex-direction": "column",
          "justify-content": "center"
        });
        /*$('.algos .algo .infos').click(function(){
          $(this).parent().parent().parent().find('.versions').fadeToggle();
          $(this).parent().parent().find('.visit-algo-page').fadeToggle();
        })*/
        
        /*
        $( '.algo' ).tooltip({
          html : true,
          title : function(){
            console.log("T-TIP called "+$(this).attr('id'));
            $(this).find('.t-tip').height("100em");
            return $(this).find('.t-tip').html();
          }
        });
        */

        
        $('.algo .apparent').click(function(e){
          console.log('$(this).attr("id") : '+$(this).attr("id"));
          var wasHidden = $(this).parent().siblings('.versions').is(':hidden');
          console.log("wasHidden : "+wasHidden);
          $('.algos .versions').fadeOut();
          if(wasHidden)
            $(this).parent().siblings().fadeIn();
        });
        
        var docwidth = $( document ).width();
        var docHeight = $( document ).height();
        $('.algo').hover(function(e){
          console.log("Entered : "+e.pageX+", "+e.pageY);
          var position = $(this).parent().position(), top = (position.top+$(this).parent().height()), left = (position.left+$(this).parent().width()/2);
          console.log("Position : "+JSON.stringify(position))
          console.log('Top : '+top+'px = '+(top/16)+'em')
          console.log('Left : '+left+'px = '+(left/16)+'em')
          var t_tip = $('<div id="my-t-tip">' + $(this).find('.t-tip').html() + '</div>');
          

          
          
          t_tip.css({
            "z-index" : "10000",
            "color" : "white",
            "background-color" : "black",
            //"border" : "20px yellow dashed",
            "max-width" : "50em",
            "border-radius" : "5px",
            "padding" : "2em"
          });

          $('body').append(t_tip);
          
          var bottomOverflowed = ( top + t_tip.height() > docHeight);
          console.log("docHeight : "+docHeight+", t_tip.height() : "+t_tip.height()+", top : "+top+", bottomOverflowed : "+bottomOverflowed);

          if (bottomOverflowed){

            top = position.top - t_tip.height()-16;
            
          }
          
          
          var rightOverflowed = ( left + t_tip.innerWidth() > docwidth);
          console.log("Left : "+left+", t_tip.innerWidth() : "+t_tip.innerWidth()+", docwidth : "+docwidth);
          
          if(rightOverflowed){
            var right = docwidth - (position.left+$(this).width());
            t_tip.css({
              "position" : "absolute",
              "top" : (top-16)+'px',
              "right" : (right+$(this).width()/2)+'px',
              //"top" : $(this).height()+'px',
              //"left" : ($(this).width()/2)+'px',
            });

          }else{
            console.log("t_tip[0].scrollWidth : "+t_tip[0].scrollWidth+", t_tip.innerWidth() : "+t_tip.innerWidth()+", t_tip.outerWidth() : "+t_tip.outerWidth() + ", t_tip.width() : "+t_tip.width());
            t_tip.css({
              "position" : "absolute",
              "top" : (top-16)+'px',
              "left" : left+'px',
              //"top" : $(this).height()+'px',
              //"left" : ($(this).width()/2)+'px',
            });
          }
          console.log("\n----------------------------------------------");
        }, function(e){

          console.log("Exited : "+e.pageX+", "+e.pageY);
          var to_rm = $('body div[id="my-t-tip"]');
          var timer = setTimeout(function(){
            to_rm.remove();
          }, 50);
          
          to_rm.hover(function(){ 
            clearTimeout(timer); 
          }, function(){ 
            to_rm.remove();  
          });
        });

        
        //$('.algos').children()

        /*
        $( '.algo' ).tooltip({
          "items" : ".algo",
          "content" : function(){
            console.log("T-TIP called");
            return $(this).find('.t-tip')[0].html();
          }
        });*/
      });      
    </script>
  </body>
</html>
