
  
<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>

    </head>
    <body>
        <% include partials/header %>

        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <h2>AlgoFab Platform</h2>
                    <p>The AlgoFab platform facilitates the use of complex algorithms for processing media (video, image, text and sound) or data.</p>
                    <ul>
                        <li>It allows users to test, validate and integrate complex processing algorithms into their own business chains.</li>
                        <li>It also offers developers a way to get a maximum impact from their algorithms by making them available on the platform.</li>
                    </ul>
                    <br/>
                </div>
                <div class="col-sm-4">
                    <h2>Contact Us</h2>
                    <table>
                        <tr>
                            <td><img id="main_image" style="height:48px" src="img/Mail-icon.png"/></td>
                            <td><a href="mailto:contact@algofab.fr">contact@algofab.fr</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><img id="main_image" style="height:150px" src="img/algofab_icon.png"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.row -->
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align: center;"> <h3>Getting started</h3> </div>
                        <div class="panel-body"> 
                            You should probably take look at the documentation to learn how to properly make use of the platform.
                            <hr>
                            <a href="https://ws67-af-docs.tl.teralab-datascience.fr" class="btn btn-primary"> Learn more ... </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="text-align: center;"> <h3>Catalaog</h3> </div>
                        <div class="panel-body"> 
                            You can look for the right algorithms for you in the catalog. 
                            <hr>
                            <a href="/algo/catalog" class="btn btn-primary"> Learn more ... </a>
                        </div>
                    </div>                 
                </div>
                
            </div>
        </div>
        <!--
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <h2>La plateforme Algofab</h2>
                    <p>
                        La plateforme AlgoFab facilite l’usage d’algorithmes complexes de traitement de médias (vidéo, image, texte et son) ou de données.
                    </p>
                    <ul>
                        <li>
                            Elle permet à des utilisateurs de tester, de valider et d’intégrer des algorithmes de traitement complexes dans leur propre chaîne métier.
                        </li>
                        <li>
                            Elle offre également aux développeurs d’algorithmes un moyen de valoriser leurs algorithmes en les mettant à disposition sur la plateforme.
                        </li>
                    </ul>
                    <br/>
                </div>
                <div class="col-sm-4">
                    <h2>Nous contacter</h2>
                    <table>
                        <tr>
                            <td><img id="main_image" style="height:48px" src="img/Mail-icon.png"/></td>
                            <td><a href="mailto:contact@algofab.fr">contact@algofab.fr</a></td>
                        </tr>
                        <tr>
                            <td colspan="2"><img id="main_image" style="height:150px" src="img/algofab_icon.png"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
        -->



        <% include partials/footer %>
    </body>
</html>
