<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
        
  <style>
	.mosaic_image{
		width: 128px;
		margin-right: 20px;
		margin-bottom: 30px;
	}
  
  </style>
  </head>
  <body>
  	<header class="business-header">
    	<% include partials/header %>
    </header>
    

	<hr/>

	<div class="container">
		<img class="mosaic_image" src="/img/xilopix.png">
		<p>
			Créée le 1er août 2008, Xilopix est une société française spécialisée dans l’analyse d’images,
			la sémantique, l’indexation automatique et la recherche des contenus. Située à Epinal sur le
			site historique de la Maison Romaine, Xilopix se trouve au sein du nouveau Pôle Image et
			Numérique de Lorraine.
		</p>
		<h3>Constat et Objectif</h3>
		<p>
			En effet en dépit de l’adoption rapide par les utilisateurs de terminaux visuels & tactiles, ayant
			fortement évolué au cours des 15 dernières années et de contenus toujours plus multimédias,
			les moteurs de recherche actuels, qui n’ont pas été pensés pour cette révolution, sont
			inadaptés. Ces derniers n'offrent ni la capacité de traiter efficacement ces contenus
			multimédias, ni celle de le faire de manière convergente.
			En collaboration avec de grands laboratoires scientifiques français leader dans leur domaine
			tels que, CNRS - Atilf pour les aspects sémantiques / CNRS - Lip6 pour les aspects
			conceptuels et visuels / INRIA - LORIA pour les aspects visuels et systémiques, Xilopix œuvre
			à la conception d’un Moteur de Recherche et de Navigation de nouvelle génération nativement
			pensé pour la révolution visuelle et tactile, nécessité, entre autres, par l’arrivée des tablettes.
		</p>
		<h3>Un projet ambitieux à la pointe de l’innovation</h3>
		<p>
			La recherche et l’innovation sont au cœur du développement de Xilopix qui ambitionne de
			devenir la Référence des Moteurs de Recherche Multimédia. Consolidé par des brevets
			internationaux, le Moteur de Recherche Xilopix permet simultanément pour la 1ère fois, à partir
			d’une boite de recherche unique, de combiner des éléments de recherche de natures
			différentes (textes, images, vidéos, sons, pages web, etc.) et d’affiner itérativement une
			recherche.
		</p>
		<p>
			<b>Spécialisée dans un premier temps dans le domaine de l’image fixe, cette nouvelle
			technologie a été étendue, dès 2013, dans les champs de la vidéo et de tout format de
			document Multimédia.</b>
		</p>
		<p>
			Ce Moteur de Recherche de nouvelle génération, particulièrement adapté aux écrans tactiles,
			permet de s’affranchir de la barrière de la langue. Construit sur une architecture et un mode
			opératoire inédits, le Moteur Xilopix se trouve à la croisée du Web 2.0, du Web sémantique et
			du Web de l’image. Il s’agit là d’un projet ambitieux d’envergure internationale dans l’univers
			des Technologies de l’Information et de la Communication, et de l’Ingénierie de la
			Connaissance.
		</p>
		<h3>La Solution « Xilopix for E-commerce » pour le marché du E-Commerce</h3>
		<p>
			La société Xilopix développe des solutions organisant des informations de types fichiers
			multimédia et permettant une recherche et une navigation par l’utilisateur dans des corpus
			organisés avec une approche métier. Pour ce faire Xilopix a décliné son approche en deux
			solutions distinctes pour les marchés E-Commerce avec « Xilopix for E-commerce » et Media /
			information avec « Xilopix for E-Information ».
			La solution Xilopix permet simultanément pour la 1ère fois de combiner des éléments de
			recherche (objets multimédias de natures différentes) aussi divers que : Fiche Produit,
			Promotions, Conseils de l’Enseigne, Expériences client, Vidéos de la chaine de l’enseigne sur Youtube, et autres sources telles que les réseaux sociaux, et
			d’affiner itérativement la recherche faite par le Client.
			Cette approche a pour objectif d’améliorer la précision des
			résultats, et des encarts promotionnels correspondant à la
			navigation du Client dans l’Univers de l’Enseigne, tout en offrant
			une nouvelle expérience utilisateur, visuelle et tactile, sur les
			terminaux multimédias (Tablette Smartphone, Borne interactive,
			TV connectée...). La recherche de produits et la navigation dans
			le catalogue de l’E-commerçant deviennent ludiques et se
			mettent à portée de tous.
			La société Xilopix, membre de Cap Digital et du PICOM,
			s’est vu décerner le Prix du Jury 2013 lors du 4ème
			Forum des PME Innovantes, le mercredi 16 octobre
			2013, par le PICOM et ses partenaires Pôle Régional
			Numérique, Deloitte, CITIC, Cci, InfoNordet, Entreprises
			&amp; Cités, autour du thème : « L’innovation dans la
			relation client : le parcours client de demain ».
			La société Xilopix, créatrice du premier moteur
			recherche visuel et tactile, a reçu le 11 mars 2014 le prix « Demain l’économie – Prix de
			l’innovation 2014 ».
			Cette récompense lui a été remise au Conseil Economique, Social et Environnemental (CESE),
			à Paris, sous le haut patronage de Jean-Paul Delevoye.
		</p>
		
		<h3>Une équipe hautement qualifiée et expérimentée</h3>
	
		<p>
			Sur les 16 personnes qui constituent aujourd’hui l’équipe de Xilopix, 12 (Docteurs, Ingénieurs,
			Masters, spécialistes notamment dans l’analyse d’objets médias et l’étude sémantique) sont
			entièrement dédiées à la R&amp;D et à la production.
			Bâtie pour réussir à l’international, cette équipe ne compte pas moins de 4 nationalités
			(maitrisant 7 langues) et s’est organisée au travers de 6 Services, en s’appuyant sur des outils
			et des processus éprouvés de gestion et de suivi de projet (SCRUM, Bid Mgt, AGILE, etc.).
		</p>
		<h3>De nombreux soutiens et satisfécits</h3>
		<p>
			Xilopix bénéficie du soutien de nombre d’organismes des secteurs privés et publics (bpifrance,
			Ministère de l’enseignement supérieur et de la recherche, Agence Nationale de la Recherche,
			UBI France, Agence de Mobilisation Economique de Lorraine, Centre Francilien de l'Innovation,
			Pôle de compétitivité Cap Digital, Pôle de compétitivité PICOM Pôle de compétitivité Imaginov,
			Coface, Chambre de Commerce et d’Industrie Internationale de Lorraine, etc.).
			Xilopix est également membre du PwC's (Price Water House Cooper) Accelerator de
			Luxembourg qui voit sa technologie comme disruptive et mondiale.
		</p>
		<h3>Une entrée dans le marché amorcée</h3>
		<p>
			Xilopix a amorcé en avril 2013 la commercialisation de son offre pour le marché des entreprises
			et des collectivités. Il s’agit d’une solution logicielle en mode SaaS, destinée particulièrement
			aux mondes du E-commerce et de la grande distribution, du tourisme et des réseaux sociaux,
			des grands musées et bibliothèques, et plus généralement aux marchés B2B2C entreprises et
			institutions dont le contenu est à valoriser vers le Grand Public (Consommateur ou simple
			Visiteur).
		</p>
	</div>
	
	
	<hr/>
	<div class="container">
		<img class="mosaic_image" src="/img/minestelecom.png">
		
		
		<h3>Présentation de l’Institut Mines Telecom</h3>
		<p>
			L’Institut Telecom et ses Ecoles proposent des formations d'excellence (ingénieurs et
			managers) dans le domaine des Technologies de l'Information et de la Communication (5 550
			élèves 1 500 diplômés par an).
			C’est aussi un acteur majeur de la recherche en TIC (650 enseignants-chercheurs et
			chercheurs 300 ingénieurs, techniciens et administratifs de recherche,950 doctorants, post-doc
			et sabbatiques, environ 1850 publications en 2009). C’est enfin soutien actif à la création
			d'entreprise en TIC +/- 400 entreprises créées dans les 5 incubateurs depuis 1999 . Au total
			plus de 1000 salariés de l’Institut Telecom sont répartis entre Paris, Evry, Lille, Toulouse,
			Sophia Antipolis, Brest et Rennes
			Deux entités seront impliquées dans le projet AlgoFab. D’une part, la <b>direction de l’innovation
			de l’Institut Mines Telecom</b>, et d’autre part le <b>département d’enseignement-recherche de
			Télécom Sud Paris, ARTEMIS</b> (Advanced Research and TEchniques for Multidimensional
			Imaging Systems) (www.telecom-sudparis.eu/Artemis) qui a comme vocation scientifique la
			recherche dans le domaine des sciences et technologies de l'image numérique. Celles-ci
			lancent en effet de nombreux défis aux acteurs économiques et académiques afin de concevoir
			méthodes innovantes et nouveaux services pour la société de l'information.
		</p>
		<h3>Présentation de Télécom SudParis</h3>
		<ul>
			<li>
				<h4>Les activités de recherche d'un grand groupe...</h4>
				<p>
					La recherche à Télécom SudParis s'inscrit dans le domaine générique des STIC. Elle
					s'appuie sur un corps de plus de 100 enseignants-chercheurs permanents.
					La recherche à Télécom SudParis est une composante active de la recherche de
					l'Institut Mines-Télécom, aux compétences plurielles et coordonnées, qui vise à le
					positionner comme un acteur européen majeur de la recherche et de l’innovation dans le
					domaine des STIC.
				</p>
			</li>
			<li>
				<h4>... tournées vers l'innovation, le transfert ...</h4>
				<p>
					La quasi-totalité des projets de recherche s’appuie sur un travail conjoint avec
					nos partenaires dans le cadre de contrats, en constante progression et est centrée
					autour de l’innovation. Le chiffre d'affaires de Télécom SudParis généré en 2012 par les
					contrats de recherche (industrie, contrats européens, et collectivités territoriales, ANR)
					s’élève à 6,6 M€. Les collaborations avec les industriels, avec les autres laboratoires et
					organismes de recherche sont au cœur de l’activité de l’école.
				</p>
			</li>
			<li>
				<h4>... et la diffusion du savoir scientifique.</h4>
				<p>
					La Recherche est un des piliers de l'activité de Télécom SudParis : elle génère
					constamment des résultats qui alimentent l'actualité scientifique de l'école.
					Elle fait l'objet de publications dans les plus grandes revues nationales et internationales.
					Télécom SudParis organise et participe toute l'année à de grands évènements
					scientifiques d'envergure internationale.
				</p>
			</li>
			<li>
				<h4>Départements et Laboratoire</h4>
				<p>
					Les activités de recherche en TIC sont structurées en 7 départements thématiques, un
					laboratoire de recherche CNRS et une équipe de recherche CNRS. Les équipes de
					recherche sont reconnues pour leur excellence et évaluées dans ce cadre par l’AERES.
					Les développements scientifiques en TIC bénéficient en outre de l’expertise des 4
					départements de Télécom Ecole de Management.
				</p>
			</li>
			<li>
				<h4>7 départements de Télécom SudParis :</h4>
				<ul>
					<li>
						<b><u>ARTEMIS</u></b> : Advanced Research and TEchniques for Multidimensional Imaging
						Systems (Directeur par interim : Titus ZAHARIA)
					</li>
					<li><b><u>CITI</u></b>: Communications, Images et Traitement de l'Information (Directeur : Wojciech
					PIECZYNSKI)</li>
					<li><b><u>EPH</u></b>: Electronique et Physique (Directeur : Badr-Eddine BENKELFAT)</li>
					<li><b><u>INF</u></b>: Informatique (Directeur : Djamel BELAID)</li>
					<li><b><u>LOR</u></b>: Logiciels-Réseaux (Directrice : Ana CAVALLI)</li>
					<li><b><u>RS2M</u></b>: Réseaux et Services Multimédia Mobiles (Directeur : Djamal ZEGHLACHE)</li>
					<li><b><u>RST</u></b>: Réseaux et Services de Télécommunications (Directeur : Hervé DEBAR)</li>
				</ul>
			</li>
			<li>
				<h4>1 laboratoire de recherche CNRS :</h4>
				<p><b><u>SAMOVAR</u></b>  : UMR 5157: Services répartis, Architectures, MOdélisation, Validation, Administration
				des Réseaux (Directeur : Jean-Pierre DELMAS)</p>
			</li>
			<li>
				<h4>1 équipe de recherche CNRS :</h4>
				<p><b><u>ARTEMIS</u></b> : équipe ingénierie multimédia du laboratoire MAP5 UMR
				Mathématiques Appliquées de Paris 5 (Directeur de l'équipe : Titus ZAHARIA)</p>
			</li>
		</ul>
	</div>



	<hr/>
	<div class="container">
		<img class="mosaic_image" src="/img/cloudwatt.png">
		<p>
			En capitalisant sur l’infrastructure de Cloud Computing de Cloudwatt, ainsi son l’expertise de
			développement et d’accompagnement des Ecosystèmes des Editeurs de Logiciels, Cloudwatt
			se propose d’apporter ses savoir-faire pour mettre en place la Plateforme AlgoFab afin de servir
			les Contributeurs et Utilisateurs de Services Multimédia orienté Big Data.
		</p>
		<p>
			Les orientations marché Cloudwatt nous ont permis de développer des offres industrielles à
			destination des Ecosystèmes, consommateurs de technologies avancées Cloud Computing et
			Big Data, telle que notre derniere offre « Big Data / Hadoop as a Service » annoncé le 5 mars
			2015, à l’occasion du salon Big Data Paris 2015.
		</p>
		<p>
			Notre offre "Hadoop as a Service" allie élasticité et simplicité d’utilisation, aux meilleures
			performances et au meilleur prix. Ainsi Cloudwatt, producteur souverain d’énergie numérique
			(Cloud Public et Cloud Privé Virtuel au standard OpenStack ), dans le cadre de sa stratégie
			articulée autour de cas d’usages, son offre "Hadoop as a Service" motorisant les solutions Big
			Data de ses partenaires et de ses clients, apportera une vraie solution industrialisée et
			standardisée pour l’ensemble des besoins Multimédia et Big Data du Consortium AlgoFab.
			A noter que Cloudwatt a annoncé le 5 mars 2015, à l’occasion du salon Big Data Paris 2015
			son offre Big Data / Hadoop as a Service.
		</p>
		<p>
			Cloudwatt présente son offre "Hadoop as a Service" qui allie élasticité et simplicité d’utilisation,
			aux meilleures performances et au meilleur prix.
			Cloudwatt, producteur souverain d’énergie numérique – Cloud Public et Cloud Privé Virtuel au
			standard OpenStack – présente, dans le cadre de sa stratégie articulée autour de cas
			d’usages, son offre "Hadoop as a Service" motorisant les solutions Big Data de ses partenaires
			et de ses clients.
		</p>
		<p>
			Cette offre fournit des clusters de calcul et de stockage Big Data, accessibles en self-service,
			activables en moins de 10 minutes, redimensionnables à chaud, sans engagement ni frais de
			mise en service, facturés à l’usage uniquement.
			Plateforme idéale pour démarrer un projet Big Data sans délai, sans investissement ni
			préoccupations d’infrastructure, la plateforme "Hadoop as a Service" de Cloudwatt permet aux
			partenaires et aux clients de Cloudwatt de se focaliser sur la valeur ajoutée provenant de
			l’analyse spécifique de leurs données et de leurs calculs.
		</p>
		<p>
			Cloudwatt participera les 10 et 11 mars 2015 au Salon Big Data Paris au côté de son partenaire
			Micropole – groupe de conseils en technologies innovantes – dont l’offre Big Data 24 est déjà
			motorisée par la plateforme "Hadoop as a Service" de Cloudwatt. A cette occasion, Cloudwatt
			présentera sa plateforme et son offre.
			Comme l’ensemble des produits de Cloudwatt, la plateforme offre des garanties de sécurité, de
			souveraineté et de pérennité quant au stockage et au transfert des données, qui se réalisent
			aussi bien au travers du VPN sur Internet ou des connexions dédiées privatives haute
			performance.
		</p>
		<p>
			Le service est entièrement accessible au travers des API OpenStack Sahara et au travers des
			distributions Hadoop. La plateforme Cloudwatt est entièrement Open source.
			"Avec la plateforme "Hadoop as a Service", notre ambition est de rendre le Big Data accessible
			au plus grand nombre d’entreprises que ce soit en termes techniques ou financiers. "Hadoop a
			as Service" c’est aussi et surtout des différenciateurs : le choix parmi les 4 distributions
			majeures (Apache, Hortonworks, Mapr, Cloudera). La possibilité de déployer simultanément
			des cluster Hadoop et des applications métiers (progiciels, bases de données, data
			visualisation, etc.) au sein d’un même environnement. Egalement la facilité pour importer des
			données associées à proximité avec le centre de données. Et enfin l’orchestration du déploiement, l’installation et la configuration des clusters à travers d’un template unique
			paramétrable" explique Alvin HEIB - Responsable produit Big Data chez Cloudwatt.
		</p>

	</div>

	<hr/>
	<div class="container">
		<img class="mosaic_image" src="/img/globalsensing.png">
		<h3>GST, spécialiste en traitement de signal et en électronique embarqué</h3>
		<p>
			L’entreprise <b>GlobalSensing Technologies</b> (GST), SAS créée en 2011, conçoit, développe et
			commercialise des solutions logicielles et matérielles dédiées à l’analyse de signaux et
			d’images selon une approche « neuro-inspirée ».
			De cette manière, les tâches de reconnaissance de formes – dont l’analyse de contenus
			multimédias - sont réalisées avec une très bonne efficacité. En effet, par comparaison, la
			reconnaissance d’un objet familier (par exemple l’image de la Tour Eiffel dans son
			environnement naturel), est obtenue très facilement par un sujet humain. L’exécution de cette
			même tâche sur un ordinateur « classique » nécessite la mise en place d’algorithmes
			complexes et coûteux en termes de puissance de calcul. Cet exemple montre que l’inspiration
			sur le comportement du cerveau humain peut aider à résoudre des problèmes complexes.
			Durant ces 20 dernières années, plusieurs modèles neuro-inspirés ont été proposés comme
			par exemple les modèles Hmax et Convolutional Neural Network.
			GST maîtrise ces modèles et apporte aussi des contributions originales en termes
			d’optimisation algorithmique mais aussi en termes d’implémentations logicielles et matérielles
			de ces modèles (cf <a href="http://www.globalsensing.eu/category/sections/products">http://www.globalsensing.eu/category/sections/products</a>).
			Grâce à cette expertise, des applications ont pu être validées comme par exemple la détection
			en temps réel de personnes dans des milieux naturels ou encore la détection en temps réel de
			défauts sur des produits industriels.
			Actuellement, dans le cadre du projet en cours FUI NeuroDSP, GST conçoit en partenariat
			avec le CEA LIST, un processeur neuronal dans le but d’implémenter d’une manière compacte
			les principaux algorithmes neuro-inspirés pour l’analyse en temps réel d’informations
			multimédias.
			L’expertise de GST réside dans les Algorithmes et les Architectures à base de réseaux de
			neurones artificiels :
			
			<ul>
				<li>
					Conception et industrialisation de logiciels embarquables et de cartes électroniques
					associant des processeurs programmables ou/et des circuits reconfigurables FPGA avec
					des processeurs neuronaux
				</li>
				<li>
					Applications temps réel intégrant la technologie neuronale principalement en surveillance/sécurité et en contrôle qualité de produits industriels
				</li>
				<li>
					Commercialisation directe (ou à travers des distributeurs) des produits développés par GST
				</li>
			</ul>
		</p>
		<h3>Pôles de Compétivité</h3>
		<p>
			GST fait partie de 3 pôles de compétitivité et 1 cluster (Automobile, Goût-Nutrition-Santé,
			Industriel, Habitat Intelligent)
		</p>
		<p>GST est membre du Groupement ADAS (Advanced Driver Assistance Systems)</p>
		<p>Dans le cadre de ses activités de R&D, GST collabore étroitement avec:</p>
		<ul>
			<li>
				LEAD, Laboratoire d'Etude de l'Apprentissage et du Développement - Université de
				Bourgogne &amp; CNRS (Centre National de la Recherche Scientifique), France
			</li>
			<li>
				ELSI, « European Laboratory for Sensory Intelligence » pour des applications de
				sécurité, défense et médical - ISL, Institut franco-allemand de recherches de Saint-
				Louis, France
			</li>
			<li>
				CEA-LIST, Institut de recherches en systèmes numériques intelligents - CEA, Le
				Commissariat à l’Energie Atomique, France
			</li>
		</ul>
		<p>
			La création de l’entreprise GST a été créée avec le soutien de PREMICE, du Conseil
			Régional de Bourgogne et d’OSEO.
		</p>
	</div>
	
	
	<hr/>
	<div class="container">
		<img class="mosaic_image" src="/img/globevip.jpg">

		<h3>Présentation de l’Entreprise GlobeVIP</h3>
		<p>
			La société GlobeVIP conçoit et développe des Solutions de Reconnaissance Visuelle.
			GlobeVIP fournit des services à partir de sa plateforme EyeSnap de reconnaissance d’image
			pour smartphones, tablettes et des solutions logicielles pour le marché professionnel.
			La technologie EyeSnap au service des images permet :
		</p>
		<ul>
			<li>
				de proposer à nos clients des solutions logicielles parfaitement adaptées à leurs
				besoins grâce à la performance et la flexibilité d'EyeSnap
			</li>
			<li>Gérer et organiser avec efficacité des photothèques de plusieurs millions d'images</li>
			<li>
				Utiliser le pouvoir de l’image pour accéder facilement, grâce à un Smartphone, à une
				infinité de contenus interactifs
			</li>
			<li>
				Identifier et analyser en temps réel votre contenu visuel présent sur le web pour
				comprendre le comportement de vos clients, anticiper les nouvelles tendances, ou
				protéger vos droits
			</li>
		</ul>
		<p>
			La société GlobeVIP et l’équipe MRIM du Laboratoire d'Informatique de Grenoble (LIG), ont
			déjà travaillé ensemble sur un projet regroupant des technologies des deux partenaires IOTA &
			EyeSnap, en vue de la mise en service d’un système dans le cadre des visites guidées du
			Musée de Grenoble.
		</p>
		<p>
			En situation de mobilité, une requête visuelle est plus adaptée qu’une description textuelle. Il
			suffit en effet de prendre un objet en photo, pour lancer une requête à propos de cet objet.
			Notons que l’image n’est pas le but de la recherche mais le moyen d’accéder à de l’information
			relative à l’objet.
		</p>
		<h3>Le rôle de la société GlobeVIP au sein du Projet AlgoFab</h3>
		<p>
			Le rôle de la société GlobeVIP au sein du Projet AlgoFab est de proposer une approche
			mobile de reconnaissance visuelle et de permettre ainsi d’associer instantanément, via un
			smartphone, l’image photographiée de produits ou objet ou monuments,... avec un catalogue
			de produits du commerce, photothèques d’objets, ou de lieux.
		</p>
		<p>
			Il est nécessaire de pouvoir prendre en compte tous les aspects visuels, et de façon combinée
			tels que formes, couleur, textures, avec les algorithmes les plus adaptés aux secteurs d’intérêt
			de l’application utilisatrice future et optimisés dans le cadre d’une approche mobile.
		</p>
	</div>
	
	
	<hr/>
	<div class="container">
		<img class="mosaic_image" src="/img/liris.png">

		<p>
			Le LIRIS, regroupant 320 membres, est une unité mixte de recherche (UMR 5205) dont les
			tutelles sont le CNRS, l'INSA de Lyon, l'Université Claude Bernard Lyon 1, l'Université Lumière
			Lyon 2 et l'Ecole Centrale de Lyon. Le champ scientifique de l'unité est l'Informatique et plus
			généralement les Sciences et Technologies de l’Information.
			Les activités scientifiques de ses 12 équipes de recherche sont structurées en 6 pôles de
			compétences, de 15 à 30 permanents, reconnues au niveau international :
		</p>
		<h3>Vision intelligente et reconnaissance visuelle</h3>
		<ul>
			<li>20 permanents des équipes IMAGINE et M2DISCO</li>
			<li>
				Objectifs : construction d'algorithmes visant la compréhension de données multimédia
				(images, vidéo, documents numérique, scènes 3D) et se déclinant en termes
				d'acquisition/reconstruction, d'indexation, de modélisation, de classification ou de
				reconnaissance automatique du contenu (objets, actions, concepts)
			</li>
			<li>
				Compétences : traitement des images, reconnaissance de formes, fusion d'information,
				apprentissage automatique, modélisation par contraintes, optimisation discrète et continue
			</li>
		</ul>
		<h3>Géométrie et modélisation</h3>
		<ul>
			<li>17 permanents des équipes GEOMOD et M2DISCO</li>
			<li>
				Objectifs : reconstruction 3D (dynamique, à qualité
				contrôlée...), modélisation à base procédurale
				(scènes
				urbaines
				ou
				naturelles
				complexes,
				écosystèmes...) et analyse et traitement géométrique
				et topologique de maillage ou formes discrètes (calcul
				de descripteurs, indexation, compression, tatouage,
				segmentation, visualisation...)
			</li>
			<li>
				Compétences : géométrie algorithmique, géométrie
				discrète,
				modélisation
				géométrique
				à
				base
				procédurale ou non, modélisation topologique,
				reconstruction
				3D,
				analyse,
				compression
				et
				visualisation d'objets géométriques de taille importante
			</li>
		</ul>
		<h3>Science des données</h3>
		<ul>
			<li>30 permanents des équipes BD, DM2L et GRAMA</li>
			<li>
				Objectifs : conception de nouveaux modèles de représentation, de traitement, d'accès,
				d'exploitation et de protection robustes pour les masses de données hétérogènes,
				structurées ou non, distribuées, produites en continu
			</li>
			<li>
				Compétences : de la modélisation (graphes, algorithmes, apprentissage statistique,
				langages déclaratifs) aux aspects systèmes (intergiciel, plateformes d'intégration,
				prototype opérationnel)
			</li>
		</ul>
		<h3>Services, Systèmes distribués et Sécurité</h3>
		<ul>
			<li>19 permanents des équipes DRIM et SOC</li>
			<li>
				Objectifs : conception de nouveaux modèles et algorithmes pour répondre aux
				problématiques suscitées par les infrastructures émergentes d'information et de
				communication : accès ubiquitaire personnalisé à l'information et aux services, passage à l'échelle, incertitude et sémantique de l'information, qualité de service et tolérance
				aux fautes, protection de la vie privée
			</li>
			<li>
				Compétences : technologies des services Web, architectures et intergiciels orientés
				services, langages du web sémantique, Internet des objets, Linked Data, gestion de
				documents multi-structurés, recherche d’information sémantique, protocoles robustes
				et collaboratifs d’échange de données réparties et mobiles, sécurisation de données,
				Trust computing, processus métier, Cloud services
			</li>
		</ul>
		<h3>Simulation, virtualité et sciences computationnelles</h3>
		<ul>
			<li>16 permanents des équipes BEAGLE, R3AM et SAARA</li>
			<li>
				Objectifs : développement de formalismes informatiques et d'outils logiciels pour la
				modélisation et la simulation de systèmes complexes en synergie avec les disciplines
				biologie / physique / médecine / ingénierie
			</li>
			<li>
				Compétences : en synergie avec les disciplines biologie / physique / médecine /
				ingénierie, modélisation et simulation de systèmes complexes, création de modèles
				physiques pour des simulations réalistes, rendu réaliste, réalité augmentée
			</li>
		</ul>
		<h3>Interactions et cognition</h3>
		<ul>
			<li>21 permanents des équipes GRAMA et SILEX</li>
			<li>
				Objectifs : étude et conception des systèmes dynamiques dans lesquels plusieurs
				agents, humains ou logiciels, sont en interaction, en se basant sur les propriétés
				individuelles et collectives et les capacités cognitives des agents ; modélisation des
				interactions homme-machine ou agent-agent pour la construction de connaissances,
				pour l'assistance à l'utilisateur, pour l'analyse des usages
			</li>
			<li>
				Compétences : dynamique des connaissances et expérience tracée, co-conception
				d'Environnements Informatiques pour l'Apprentissage Humain (EIAH), systèmes
				interactifs, systèmes multi-agents, systèmes self-*, cognition et apprentissage
				développemental
			</li>
		</ul>
		<p>
			Le LIRIS réalise une activité de recherche de fond sur ces 6 pôles de recherche, tout en
			développant un savoir-faire au service de la société en liaison étroite avec les disciplines
			Ingénierie, Sciences Humaines et Sociales, Sciences de l'environnement et Sciences de la Vie :
		</p>
		<ul>
			<li>
				Education, culture et patrimoine : bibliothèque numérique, édition critique, archivage,
				musée virtuel 3D, serious games...
			</li>
			<li>
				Environnement et urbain : bâtiments intelligents, modélisation 3D des bâtis et des
				villes, SIG, mobilité, optimisation des transports, systèmes intelligents de transport,...
			</li>
			<li>
				Intelligence ambiante : systèmes pervasifs et distribués, vidéosurveillance intelligente,
				systèmes multi-agents self-*
			</li>
			<li>
				Biologie et santé : fouille de données et modélisation du vivant, hadronthérapie,
				ingénierie pour la santé
			</li>
			<li>Loisirs numériques : jeux vidéos, cinéma d'animation</li>
			<li>
				La structuration en pôles de compétences et en services d'appui à la recherche, ainsi
				que les noms des différents responsables peuvent être consultés dans l'organigramme
				du LIRIS.
			</li>

		</ul>
	</div>
	
    <% include partials/footer %>
  </body>
</html>
