
@mixin simpleBorder($line: solid, $breadth: 1px, $color: black, $radius:5px) {
    border: $breadth $line $color;
    border-radius: $radius;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}



.prop-heading {
    font-size: 1.5em;
    //border: 1px solid yellow;
}

.prop-value {
    margin-top: 1em;
    //align-items: center;
}

#section-one {
    @include simpleBorder();
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    font-size: 1.5em;
    
    #manage {
        text-align: center;
        @include flexCenter();

        i {
            font-size: 3em;
            cursor: pointer;
        }
    }
    #r-name-display {
        @include simpleBorder($line: dashed);
        @include flexCenter();
    }
    #r-icon-display {
        
        right: 1em;
        top: -25%;
        // border-radius: 5px;
        // border: 1px solid black;

        .img {
            border-radius: 5px;
        }
    }
}

#section-two {
    #private-display {
        @include simpleBorder();
    }
    #tags-display {
        @include simpleBorder();
        
        //padding: 2em;
        vertical-align: top;
        .tag {
            background-color: brown;
            font-family: 'Lucida Console','Lucida Sans Typewriter',monaco,'Bitstream Vera Sans Mono',monospace;
            display: inline-block;
            padding:.3em;
            color:white;
            margin-right: .8em;
            margin-top:.5em;
            //border-radius: 0 5px 5px 0;
            border-radius: 5px;
            position: relative;
            //transform: rotate(-2deg);

            // &::before{
            //     content:"";
            //     position: absolute;
            //     width: 1em;
            //     height: 100%;
            //     top: 0;
            //     left: -.9em;
            //     border-radius: 1em 0 0 1em;
            //     background-color: brown;
            // }
        }
    }
    #ratings-display {
        @include simpleBorder();
    }
}

#section-three{
    margin-top: 2em;
    margin-bottom: 2em;

    #r-description-display{
        //@include simpleBorder();
        display: flex;
        align-items: center;
    }
    #r-download-display {
        #download-container{
            @include flexCenter();
            @include simpleBorder($breadth: 3px, $line: dashed);
            margin-top: 2em;
            margin-bottom: 2em;
            padding: 1em;
            
        }
    }
}


.my-warning {
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(245, 196, 90);
    border-radius: 5px;
    
    i {
        margin-right: 1em;
        font-size: 2em;
    }
}
.edit-property{
    position: absolute;
    cursor: pointer;
    color: red;
    right:0;
    top:0;

    i{
        margin-right: 10;
        margin-top: 10;
    }
}