

.card-link {
    color: grey;
    font-size: 1.5em;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

#profile-display {
    margin-bottom: 1em;
}

#accordion {
    margin-top: 2em;
}