
<!DOCTYPE html>
<html>
  	<head>
		<% include ../../partials/head %>
    
  	</head>
  	<body>
    	<% include ../../partials/header %>
    	<% include ../../partials/functions %>
    	
    	<!-- <ul class="nav nav-pills nav-stacked">
		  	<li><a href="#"> A </a></li>
		  	<li><a href="#"> B </a></li>
		  	<li>
		  		<a href="#"> C </a>
		  		<ul class="nav nav-pills nav-stacked">
		  			<li> C1 </li>
		  			<li> C2 </li>
		  		</ul>
		  	</li>
		</ul> -->
    	<div class="container">
    		<div class="row">
    			<aside class="docs-menu col-sm-3">
		    		<%- generateMenu( docs ) %>

		    	</aside>
		    	<div class="col-sm-9">
					<h3>Create Resources</h3>
					<h4> Prerequisistes </h4>
					<p>
						Before you begin, make the following prerequisites are fullfilled : 
						<ul>
							<li> <b>Account Algofab:</b>  Make sure you have an Algofab account. If you don't have one, you can <a href="/signup"> Sign up here </a>.</li>
						</ul> 
					</p>

					<h4> Create Resource </h4>
					<p>
						Once the prerequisites are fullfilled, you can access the <a href="/article/new">follwing page</a> where you can create a new resources. 
					</p>
					<p>
						You will need to provide the following information by the "Creating new Resource" form.
						<ul>
							<li>
								<b>Name: </b>
							</li>

							<li>
								<b>Short Intro: </b>
							</li>

							<li>
								<b>Logo: </b>
							</li>

							<li>
								<b>Categories: </b>
							</li>

							<li>
								<b>Description: </b>
							</li>

							<li>
								<b>Tags: </b>
							</li>
						</ul>
					</p>
					<p>
						After submitting the form you can see the resource in the <a href="/article/catalog">catalog</a>
					</p>
					<h4> Warning </h4>
					<p>
						Here are some constraints you will need to pay more attention about.
					</p>
				</div>
			</div>
		</div>

		<% include ../../partials/footer %>
	</body>
</html>