
<!DOCTYPE html>
<html>
  	<head>
		<% include ../partials/head %>
    
  	</head>
  	<body>
    	<% include ../partials/header %>


		<div class="container">
			<aside class="col-sm-2" id="side-nav">
				<div id="side-nav-title" class="row"> Summary </div>
				<ul class="row">
					<li id="id1"> <a href="#"> A </a> </li>
					<li id="id2"> <a href="#"> B </a> </li>
					<li id="id3">
						<a href="#"> C </a>
						<ul>
							<li> <a href="/docs/getting-started/api"> C1 </a> </li>
							<li> <a href="/docs/getting-started/api"> C2 </a> </li>
						</ul> 
					</li>
				</ul>
			</aside>
			
			<div class="col-sm-10" id="current-content">
				
				<p>
					Abusus enim multitudine hominum, quam tranquillis in rebus diutius rexit, ex agrestibus habitaculis urbes construxit multis opibus firmas et viribus, quarum ad praesens pleraeque licet Graecis nominibus appellentur, quae isdem ad arbitrium inposita sunt conditoris, primigenia tamen nomina non amittunt, quae eis Assyria lingua institutores veteres indiderunt.
				</p>
				<p>
					Eo adducta re per Isauriam, rege Persarum bellis finitimis inligato repellenteque a conlimitiis suis ferocissimas gentes, quae mente quadam versabili hostiliter eum saepe incessunt et in nos arma moventem aliquotiens iuvant, Nohodares quidam nomine e numero optimatum, incursare Mesopotamiam quotiens copia dederit ordinatus, explorabat nostra sollicite, si repperisset usquam locum vi subita perrupturus.
				</p>
				<p>
					In his tractibus navigerum nusquam visitur flumen sed in locis plurimis aquae suapte natura calentes emergunt ad usus aptae multiplicium medelarum. verum has quoque regiones pari sorte Pompeius Iudaeis domitis et Hierosolymis captis in provinciae speciem delata iuris dictione formavit.
				</p>
				<p>
					Inter quos Paulus eminebat notarius ortus in Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in Brittanniam missus ut militares quosdam perduceret ausos conspirasse Magnentio, cum reniti non possent, iussa licentius supergressus fluminis modo fortunis conplurium sese repentinus infudit et ferebatur per strages multiplices ac ruinas, vinculis membra ingenuorum adfligens et quosdam obterens manicis, crimina scilicet multa consarcinando a veritate longe discreta. unde admissum est facinus impium, quod Constanti tempus nota inusserat sempiterna.
				</p>
				<p>
					Hacque adfabilitate confisus cum eadem postridie feceris, ut incognitus haerebis et repentinus, hortatore illo hesterno clientes numerando, qui sis vel unde venias diutius ambigente agnitus vero tandem et adscitus in amicitiam si te salutandi adsiduitati dederis triennio indiscretus et per tot dierum defueris tempus, reverteris ad paria perferenda, nec ubi esses interrogatus et quo tandem miser discesseris, aetatem omnem frustra in stipite conteres summittendo.
				</p>
				<p>
					<code class="open-close-content">
						{
							"a" : "a",
							"b" : "b",
							"c" : [0, 1, 2],
							"d" : [
								{
									"e1" : "e1",
									"e2" : "e2"
								},
								{
									"f1" : "f1",
									"f2" : "f2"
								}	
							],
							"g" : "end"
						}
					</code>
				</p>
			</div>
		</div>

    	<% include ../partials/footer %>
    	<script type="text/javascript">
    		$(function(){
    			function strIsHtml(s){
    				//
    				try {
	    				return $(s);
	    			}
	    			catch(e) {
	    				return false;
	    			}
    			}

    			$('#side-nav').css({
    				"background-color" : "#D3D3D3",
    				"border-radius" : "5px"
    			});
    			
    			$('#side-nav-title').css({
    				"text-align" : "center",
    				"font-size" : "1.5em",
    				"border" : "1px solid black",
    				"border-radius" : "5px 5px 0px 0px",
    				"padding" : "1em",
    				"background-color" : "#383838",
    				"color" : "white"
    			});
    			$('#side-nav ul').css({
    				"list-style-type" : "none",
    				"margin" : "0",
    				"padding-left" : "0",
    				"padding-right" : "0"
    			});

    			$('#side-nav ul ul').css({
    				"margin-left" : "1em"
    				
    			});

    			$('#side-nav ul li a:link').css({"color" : "black"});
    			$('#side-nav ul li a:visited').css({"color" : "#669999"});
    			$('#side-nav ul li a:hover').css({"color" : "green"});


    			$('#change-nav div').css("margin-top" , "1em");
    			$('#change-nav div button span').css("vertical-align" , "middle");
    			$('.a-span').css({
    				"font-weight" : "bold",
    				"font-size" : "2em"
    			});
    			
    			var open_close_second_try = function(){
					var content = $(this).html(), lines = content.split('\n');
					if(lines.length == 0)
						return;

					var first_indent = 0;
					for(var i=0; i < lines.length; i++){
						if(lines[i]){
						 	first_indent = lines[i].length - lines[i].replace(new RegExp("^\t*"), "").length;
						 	//console.log("lines[i] : "+lines[i])
							//console.log("lines[i].length : "+lines[i].length);
							//console.log('lines[i].replace(new RegExp("^\t*"), "") : '+lines[i].replace(new RegExp("^\t*"), ""));
							//console.log('lines[i].replace(new RegExp("^\t*"), "").length : '+lines[i].replace(new RegExp("^\t*"), "").length);
							//console.log(' first indent = '+first_indent);
							break;
						}

					}
					

					for(var i=0; i < lines.length; i++){
						lines[i] = lines[i].replace(new RegExp('^\t{'+(first_indent)+'}'), '');
					}
					content = $('<pre>'+lines.join('\n')+'</pre>');

					content.hide();
					
					var toggle = $('<span>Toggle content <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>');
					toggle.click(function(){
						content.toggle();
						toggle.html(function(){
							if(/chevron-down/.test(toggle.html()))
								return '<span>Toggle content <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></span>';
							else
								return '<span>Toggle content <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></span>'
						});
					});
					toggle.css({
						"color" : "red",
						"text-decoration" : "underline",
						"cursor" : "pointer"
					});
					var new_content = $(' <div></div> ');
					new_content.css({
						"margin-top" : "1em"
					});
					new_content.append(toggle);
					new_content.append(content);
					
					return new_content;

				}

        		$('.open-close-content').html(open_close_second_try);

    			$('.api-table th, .api-table td').css({
    				"text-align" : "center",
    				"vertical-align" : "middle"
    			});
    		});
    	</script>
	</body>
</html>
