
<% var content = `
	
		<h3>Getting started </h3>
		<p>
			This tutorial is a guide that will walk you through the process of setting up you own algorithm and it’s upload on our platform AlgoFab.
		</p>

		<p>
			You will see a basic “Hello World”-like algorithm as you continue to read this guide, however other examples more likely to fit your needs are available <a href="">here</a>. If this is the first time you are using AlgoFab, we recommend you to finish this tutorial first.
		</p>
		<p> 
			Before you continue, make sure you are comfortable with the following : 
			<ul>
				<li> A programming Language (Any language : C, Java, Python …) : you'll need this skill to develop your algorithm. </li>
				<li> A REST / HTTP Server programming language (such as Php, Nodejs ...) </li>
				<li> Containerization with <a href="https://docker.com">Docker</a> : to package different parts of your algorithm </li>
				<li> Orchestration with <a href="https://kubernetes.io">Kubernetes</a> : To deploy your algorithm as a micro-service on our Kubernetes cluster. </li>
			</ul>
		</p>
		<p class="alert alert-info">
			The steps we are going to describe here should be done by the user in his own environment. He should make sure everything succeds before he brings his algorithm on AlgoFab. So if you don't have the tools, install them now, get familiar with them and after you confirmed through tests that the package does what you expect it to do, you can then post on AlgoFab. <br>
			This way of proceeding will minimize the possibility of failure on deployments on AlgoFab. 
		</p>
	`
%>

<% include ../base %>